<div uk-grid id="header">
    <div class="uk-width-auto">
         <!--<img src="static/logo/1.jpg" id="logo"/> -->
     </div>

    <div class="uk-width-expand" id="navbar-field">
        <div id="navbar-main-field">
            <nav class="uk-navbar-container" uk-navbar style="height:100%">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a class="navbar-main-item" href="#">全部</a>
                        </li>

                        <li>
                            <a class="navbar-main-item" href="#">真心话</a>
                        </li>

                        <li>
                            <a class="navbar-main-item" href="#">大冒险</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div id="navbar-sub-field">
            <nav class="uk-navbar-container" uk-navbar style="height:100%">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a class="navbar-sub-item" href="#">最热</a>
                        </li>
                        <li>
                            <a class="navbar-sub-item" href="#">最新</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div id="logo" class="uk-position-left-top">
        <img src="static/logo/1.jpg"/>
    </div>

 </div>