<div id="header">
    <div id="stay-bar-field">
    </div>

    <div id="navbar-field" >
        
        <div uk-grid style="border:1px solid red">
            <div>
                Logo
            </div>

            <div>
                Main Nav Item
                <!--
                <div uk-grid id="navbar-main">
                    <div><a href="#">aaa</a></div>
                    <div><a href="#">bbb</a></div>
                </div>
                -->
            </div>

            <div>
                Sub Nav Item
                <!--
                <div uk-grid id="navbar-sub">
                    <div><a href="#">aaa</a></div>
                    <div><a href="#">bbb</a></div>
                </div>
                -->
            </div>
            
        </div>
    </div>

</div>
