<div id="right-side">

    <div id="right-side-search-field">
        <form class="uk-search">
            <a href="" class="uk-search-icon-flip" uk-search-icon></a>
            <input class="uk-search-input uk-form-small" type="search" placeholder="找点好玩的">
        </form>
    </div>

    <div id="right-side-login-field">
        <form>
            <div uk-grid class="uk-padding-remove uk-margin-remove">
                <div class="right-side-login-input">
                    <input class="uk-input uk-form-small" type="text" placeholder="使用者名称">
                </div>

                <div class="right-side-login-input">
                    <input class="uk-input uk-form-small" type="text" placeholder="密码">
                </div>
            </div>

            <div id="right-side-login-remember">
                <label><input class="uk-checkbox" type="checkbox" checked> 记住我</label>
                <a href="#">重设密码</a>
                <button class="uk-button uk-button-default uk-button-small">登入</button>
            </div>
        </form>
    </div>

    <div id="right-side-money-1" class="right-side-money">
        ad-1
    </div>

    <div id="right-side-money-2" class="right-side-money">
        ad-2
    </div>
        
</div>