<html class="uk-height-1-1">
    <head>
        <title></title>
        <link rel="stylesheet" href="css/uikit.min.css" />
        <link rel="stylesheet" href="test.css"/>
        <script src="js/jquery.min.js"></script>
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

    </head>
    <body class="uk-height-1-1" style="border:1px solid red">
           <div class="uk-vertical-align uk-panel uk-panel-box" style="height: 200px;">
                 <div class="uk-vertical-align-bottom uk-width-medium-1-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 </div>
            </div>

    </body>
</html>