<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/uikit.min.css" />
        <link rel="stylesheet" href="test.css"/>
        <script src="js/jquery.min.js"></script>
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

    </head>
    <body class="uk-height-1-1">
        <div class="uk-vertical-align">
        <div uk-grid style="height:100px">
            <div class="uk-width-auto" style="border:1px solid red">Logo</div>
            <div class="uk-width-expand" style="border:1px solid green">NavBar</div>
        </div>
    
        <div uk-grid class="uk-margin-remove-top" style="border:1px solid red">
            <div class="uk-width-expand" style="border:1px solid red">Content</div>
            <div class="uk-width-auto" style="border:1px solid blue">Right Side</div>
        </div>

        <div uk-grid class="uk-vertical-align-bottom">
            <div class="uk-width-expand" style="border:1px solid green">Footer</div>
        </div>
        </div>
    </body>
</html>